{{ define "title" }}Author: {{ .Title  | title | markdownify}} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<q-page padding>
  {{ range first 200 .Pages }}
  <q-item tag="a" clickable v-ripple href="{{.Permalink}}">
    <q-item-section><h2 class="h6" style="margin-bottom: 0;">{{ .Title  | title | markdownify}}</h2></q-item-section>
  </q-item>
  {{ end }}
</q-page>
{{ end }}

{{ define "sidebar"}}
<q-drawer show-if-above v-model="rightDrawer" side="right">
  <q-scroll-area class="fit">
  </q-scroll-area>
</q-drawer>
{{ end }}